body {
  font-size: 18px;
  margin: 0;
}

.header {
  height: 443.328px;
  position:relative;
}
.headerimage {
  width: 100%;
}


.sunnyside {
  position: absolute;
  left: 25px;
  top: 25px;
  color: white;
  color: hsl(0, 0%, 100%);
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
  font-size: 35px;
}

.trinline {
  display: inline-block;
  color: white;
  color: hsl(0, 0%, 100%);
  font-family: 'Barlow', sans-serif;
  margin: 33px 20px;
  font-weight: 300;
}

.contact {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 40px;
   color: #000000;
   font-family: Times New Roman;
   font-size: 18px;
   font-weight: 900;
   padding: 20px;
   background-color: #FFFFFF;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.contact:hover {
   color: #FFFFFF;
   border: solid #337FED 0;
   background: #6FCEFD;
   background-image: -webkit-linear-gradient(top, #6FCEFD, #6FCEFD);
   background-image: -moz-linear-gradient(top, #6FCEFD, #6FCEFD);
   background-image: -ms-linear-gradient(top, #6FCEFD, #6FCEFD);
   background-image: -o-linear-gradient(top, #6FCEFD, #6FCEFD);
   background-image: -webkit-gradient(to bottom, #6FCEFD, #6FCEFD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 40px;
   text-decoration: none;
}

.top-right {
  position: absolute;
  right: 25px;
  top: 25px;
}

.h1creative {
  display: inline-block;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 180px;
  font-family: 'Fraunces', serif;
  color: white;
  font-stretch: semi-expanded;
  font-size: 55px;
}

.arrows {
  width: 32px;
  height: 105px;
  text-align: center;
  position: absolute;
  top: 330px;
  left: 50%;
}

.transform-content {
  position: absolute;
  top: 749.438px;
  display: inline-block;
  height: 562.078px;
  width: 50%;
  background-color: #fffbf8;
}

.tranformh1 {
  margin-left: 170px;
  margin-top: 150px;
  font-family: 'Fraunces', serif;
  width: 45%;
  text-align: left;
}

p {
  margin-left: 170px;
  margin-right: 150px;
  font-size: 15px;
}

h3 {
  font-family: 'Fraunces', serif;
  margin-left: 170px;
  margin-top: 50px;
  font-size: 16px;
  text-decoration: underline #fff2bb 5px;

}

.egg {
  position: absolute;
  top: 749.438px;
  width: 50%;
  height: 562.078px;
}

.eggimage {
  width: 100%;
  margin-left: 100%;
}


.glassimage {
  position: absolute;
  top: 1311.516px;
  display: inline-block;
  width: 50%;
}

.standout-content {
  position: absolute;
  top: 1311.516px;
  margin-left: 50%;
  display: inline-block;
  height: 562.078px;
  width: 50%;
  background-color: #fffbf8;
}

.standouth1 {
  margin-left: 170px;
  margin-top: 150px;
  font-family: 'Fraunces', serif;
  width: 60%;
  text-align: left;
}

.learnmore2 {
  text-decoration: underline #fedcd4 5px;
}

.cherry {
  display: inline-block;
  width: 50%;
  position: relative;
  margin-top: 1430.282px;
  height: 562.078px;
}

.cherryimg {
  width: 100%;
}

.cherrytext {
  display: inline-block;
  text-align: center;
  position: absolute;
  bottom: 60px;
  left: 0;
}

.gdp {
  width:50%;
  color: green; color: hsl(167, 40%, 24%);
  font-family: 'Barlow', sans-serif;
}

h2{
  font-family: 'Fraunces', serif;
  color: green; color: hsl(167, 40%, 24%);
}

.orange {
  display: inline-block;
  width: 50%;
  position: absolute;
  right:0;
  margin-top: 1430.282px;
  height: 562.078px;
}

.orangeimg {
  width: 100%;
}

.orangetext {
  display: inline-block;
  text-align: center;
  position: absolute;
  bottom: 60px;
  left: 0;
}

.orp {
  text-align: center;
  width:48%;
  color: blue; color: hsl(198, 62%, 26%);
  font-family: 'Barlow', sans-serif;
}

.or{
  font-family: 'Fraunces', serif;
  color: blue; color: hsl(198, 62%, 26%);
}

.CT {
  background-color: #fffbf8;
  width: 100%;
  padding-top: 100px;
  position: relative;
  bottom: 5px;
}

.h3CT {
  text-align: center;
  margin: 0 0 70px;
  letter-spacing: 2px;
  color: black; color: hsl(232, 10%, 55%);
}

.CTimage {
  margin-bottom: 25px;
  border-radius: 50%;
  height: 70px;
}

.CTCD {
  margin-top: 5px;
  font-family: 'Barlow', sans-serif;
  color: black; color: hsl(210, 4%, 67%);
}

.CTCA {
  margin-top: 45px;
  margin-bottom: 0;
  font-family: 'Fraunces', serif;
}

.CTC {
  font-family: 'Barlow', sans-serif;
  color: black; color: hsl(213, 9%, 39%);
  line-height: 25px;
  margin-bottom: 0;
}

.CT1 {
  display: inline-block;
  text-align: center;
  width: 45%;
  position: relative;
  left: 50px;

}

.CT2 {
  display: inline-block;
  text-align: center;
  width: 45%;
  position: relative;
  right: 235px;
}

.CT3 {
  display: inline-block;
  text-align: center;
  width: 45%;
  position: relative;
  bottom: 296px;
  left: 700px;
}

.img4 {
  font-size: 0;
  position: relative;
  bottom: 150px;
}

.gallery {
  width: 25%;
}

.bottom {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 300px;
  background-color: #90d4c5;
}

table {
  margin: 50px auto 70px;
}



.bottom1 {
  margin: 0 25px;
  color:white;color:hsl(167, 40%, 24%);
  font-family: 'Barlow', sans-serif;
}

.bottom1:hover {
  color: white;
}

.bottomimg {
  margin: 0 15px;
}

.bottomimg:hover {
  background-color: white;
}
